body {
    font-family: sans-serif;
    background-color: #0e2571;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    color: #ebd5a8;
}

.logo{
    
    width: 50%;
    height: 600px;
    margin: 10px;
    
}

.commitments{
    max-width: 700px;
    margin: 30px;
    font-size: 20px;
}

button{
    
    background-color: #ef866c;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 20%;
    padding: 20px 50px;
    font-size: 20px;
    font-weight: bold;

}

@media only screen and (max-width: 900px) {
   
    .logo {
        
        visibility: hidden;
        height: 0px;
          
    }

    
}

/* @media only screen and (max-width: 1500px) {
    button {
        
        visibility: hidden;
        height: 0px;
        
        
    }
    
}

@media only screen and (max-height: 737px) {
    button {
        
        visibility: hidden;
        height: 0px;
        
        
    }
    
} */





