body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #e0e0e0;
    font-size: 20px;
}


li {
    margin: 15px 5px;
}
.logo {
    height: 30px;
    margin: 15px 30px;
   
   
}
section {
    width: 100%;
    background-color: #ebd5a8;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0 0 0;
  
}

.experience {
    width: 300px;
    margin: 30px;
    
    

}

.info {
    max-width: 300px;
    margin: 30px;
}

.credo{
    width: 300px;
    margin: 30px;
}

.broad{
    width: 300px;
    margin: 30px;
}

.goal{
    width: 300px;
    margin: 30px;
}

.cost{
    width: 300px;
    margin: 30px;
}

#main {
    box-shadow: 2px 2px 5px greenyellow;
}

.hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.hero-info {
    
    
    margin: 30px;
    max-width: 1000px;
}

.hero-image {
    height: 300px;
    width: 300px;
    margin: 30px;
}

@media only screen and (max-width: 700px) {
    .hero-info{
        max-width: 700px;
    }

    .hero-image {
        visibility: hidden;
        height: 0px;
    }
    
}
.styled-break {
    width: 30px;
    height: 5px;
    background-color: #a17df4;
    border-radius: 2.5px;
    margin: 30px 0 30px 0;
}


.avatar {
    width: 100px;
    border-radius: 50px;
}

#name {
    font-size: 45px;
    /* color: purple; */
}

.test {
    width: 30px;
    height: 30px;
    background-color: red;
    margin: 5px;
}









button{

    /* border: 0; */
    /* padding: 10px 20px; */
    font-size: 20px;
    background-color: #ef866c;
    width: 400px;
    border-radius: 50px;
    color: #ffffff;
    
    
    font-weight: bold;
    text-align: center;

    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 200%;
    left: 50%;
    padding: 20px 50px;
    /* font-size: 20px; */
    /* font-weight: bold; */
 }

 /* @media (max-width: 800px){
    div a { width: 150px; clear:both;}
    } */

    /* @media only screen and (max-width: 1500px) {
        button {
            
            visibility: hidden;
            height: 0px;
            
            
        }
        
    }
    
    @media only screen and (max-height: 737px) {
        button {
            
            visibility: hidden;
            height: 0px;
            
            
        }
        
    } */